NEXT_PUBLIC_ENVIRONMENT=SANDBOX
# Sandbox Config
NEXT_PUBLIC_SANDBOX_HOST_IP=https://your-app.vercel.app/
NEXT_PUBLIC_SANDBOX_PORT=443
NEXT_PRIVATE_INVENTORY_API_KEY=your-inventory-api-key
NEXT_PUBLIC_RESERVATION_TIME=3600000

# SANDBOX Environment Variables (get these from https://hub.immutable.com)
NEXT_PUBLIC_SANDBOX_IMMUTABLE_PUBLISHABLE_KEY='pk_imapik-test-xxxxxxxxxxxxxxxxxxxx'
NEXT_PUBLIC_SANDBOX_PASSPORT_CLIENT_ID='your-passport-client-id'
NEXT_PUBLIC_SANDBOX_PASSPORT_LOGIN_REDIRECT_URI=https://your-app.vercel.app/redirect
NEXT_PUBLIC_SANDBOX_PASSPORT_LOGOUT_REDIRECT_URI=https://your-app.vercel.app/
NEXT_PUBLIC_HUB_ENVIRONMENT_ID="your-hub-environment-id"
